.app {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-main {
  background-color: #f3f5dc;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vmax;
  line-height: 0.5vmax;
  color: #000;
}

.app-footer {
  min-height: 10vh;
  background-color: #1c1f27;
  color: rgb(200, 252, 252);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}