.app {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10vh 80vh 10vh;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.app-header {
  grid-column: span 12;
  background-color: #282c34;
  /* min-height: 10vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-menu {
  grid-column: span 2;
}

.app-menu ul {
  list-style: none;
}

.app-menu ul li {
  text-transform: capitalize;
}

.app-main {
  grid-column: span 10;
  background-color: #f3f5dc;
  align-items: center;
  font-size: 16px;
  color: #000;
}

.app-footer {
  grid-column: span 12;
  /* min-height: 10vh; */
  background-color: #1c1f27;
  color: rgb(200, 252, 252);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}