.app {
  display: grid;
  grid-template-rows: 10vh minmax(80vh,auto) minmax(10vh,auto);
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-main {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 1 200px;
  justify-content: center;
  align-items: flex-start;
  font-size: calc(10px + 1vmin);
  color: #000;
  background: #edf3ff;
  padding: 0px 5px;
}

.app-content {
  min-width: 400px;
  padding: 5px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}