.res-page {
  max-width: 600px;
/*  display: grid;
   grid-gap: 6px 20px;
   grid-template-areas: 
    ". cpr cm . i ."
    ". s   m  . l ."
    ". a   .  . g ."
    ". as  .  . b ."; */
}
.res-img {
  margin: 0 auto;
  width: 180px;
}
.res-img img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10%;
}

.res-field {
  line-height: calc(12px + 2vmin);

}

.res-field-name {
  text-transform: capitalize;
  font-weight: bold;
}

.res-field-value {
  margin-left: 15px;
}

.res-field-item {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 200px;
  justify-content: space-between;  border-bottom: 1px solid black;
}

.res-field-list-item {
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100px;
  justify-content: flex-start;
  align-items: center;
}

.res-field-list-item a span {
  margin-left: 15px;
}

.res-field-list-item a img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid gold;
}